streamlit>=1.20.0
plotly==5.15.0
pandas==2.0.3
scikit-learn==1.3.0
scikit-surprise @ https://github.com/NicolasHug/Surprise/archive/refs/heads/master.zip
nltk==3.8.1
vaderSentiment==3.3.2
tqdm==4.65.0
numpy==1.24.3